<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
<div class="banner-masthead">
    <div id="InPage_1490775079" style="text-align:center"> </div>
</div>
<!-- Latest episodes -->
<section class="tray episode">
    <div class="tray-title">
        Movie Đề Cử<i class="icon icon-right"></i>
    </div>
    <div class="tray-content index">
        {{# each episode}}
        <div class="tray-item">
            <a href="/phim/{{this.episode_id}}/{{this.episode_name_ascii}}" title="{{this.episode_name}}">
                <img class="tray-item-thumbnail" src="/images/image_avatar/{{this.episode_image}}" data-src="/images/image_avatar/{{this.episode_image}}" alt="{{this.episode_name}}">
                <div class="tray-item-description">
                    <div class="tray-item-title">{{this.episode_name}}</div>
                    <div class="tray-item-meta-info">
                        <span class="tray-episode-name">Tập 12 - Bóng tối sót lại vào lúc bình minh</span>
                        <span class="tray-episode-views">{{this.episode_view}} lượt xem</span>
                    </div>
                </div>
                <div class="tray-item-play-button">
                    <i class="icon-play"></i>
                </div>
                <div class="tray-item-bd">1080p</div>
            </a>
        </div>
        {{/each}}
    </div>
</section>
<!-- END latest episodes -->

<!-- Picked films -->
<section class="tray picked">
    <div class="tray-title">
        <a href="https://vuighe.net/hom-nay-xem-gi">Tất cả Movie<i class="icon icon-right"></i></a>
    </div>
    <div class="tray-content">
        {{# each episode}}
        <div class="tray-item">
            <a href="/phim/{{this.episode_id}}/{{this.episode_name_ascii}}">
                <img class="tray-item-thumbnail" src="/images/image_avatar/{{this.episode_back}}" data-src="/images/image_avatar/{{this.episode_back}}" alt="{{this.episode_name}}">
                <div class="tray-item-description">
                    <div class="tray-item-title">{{this.episode_name}}</div>
                    <div class="tray-item-meta-info">
                        <div class="tray-film-views">{{this.episode_view}}lượt xem</div>
                        <div class="tray-film-likes">166 thích</div>
                    </div>
                </div>
                <!--<div class="tray-film-genres">-->
                    <!--<span>Lãng Mạn</span>,&nbsp;<span>Hài Hước</span>,&nbsp;<span>Trường Học</span>-->
                <!--</div>-->
                <div class="tray-film-update">
                    {{this.episode_film}}
                </div>
                <div class="tray-item-play-button">
                    <i class="icon-play"></i>
                </div>
            </a>
        </div>
        {{/each}}
    </div>
    <div class="loading hidden"></div>
    <div class="tray-more">xem thêm</div>
</section>
<!-- END picked films -->

<!-- END picked films -->
<section class="tray ranking">
    <div class="tray-title">
        <a href="https://vuighe.net/bang-xep-hang">Bảng Xếp Hạng <i class="icon icon-right"></i></a>
    </div>
    <div class="tray-content">

        <div class="ranking-item">
            <a href="https://vuighe.net/overlord">
                <div class="ranking-item-thumbnail">
                    <img src="./Vui Ghê Anime Vietsub Online_files/a74505b3dfac09e4_871c3ff13b2c7af9_3961515325906656118684.jpg" data-src="https://i.imacdn.com/vg/2018/07/26/a74505b3dfac09e4_871c3ff13b2c7af9_3961515325906656118684.jpg" alt="Overlord">
                </div>
                <div class="ranking-item-top">8</div>
            </a>
            <div class="ranking-item-meta">
                <a href="https://vuighe.net/overlord">
                    <div class="ranking-item-title">Overlord</div>
                </a>
                <span class="ranking-item-views">3,274,048 lượt xem</span>
                <div class="ranking-item-update">
                    37 / 969 tập
                </div>
            </div>
        </div>

    </div>
</section>
<!-- END ranking films -->