
<script>
    function view_movie() {
        var ip = "{{ipclient}}";
        alert("IP: "+ip)
    }
    function save_movie() {
        var IdUse = document.getElementById("IdUser");
        if (IdUse !== null){
            var IdUser = document.getElementById("IdUser").value;
            var IdMovie = document.getElementById("IdMovie").value;
            var IDEvent_movie = document.getElementById("IDEvent_movie").value;
            var Name_move = document.getElementById("Name_move").value;
            var Name_move_ascii = document.getElementById("Name_move_ascii").value;
            var notSave = document.getElementById("btn_save").value;
            // alert(IdUser +"/"+ IdMovie+"/"+notSave);
            var data = {IdUser,IdMovie,notSave,IDEvent_movie,Name_move,Name_move_ascii};
            console.log('1');
            $.ajax({
                type: 'POST',
                data: JSON.stringify(data),
                contentType: 'application/json',
                url: 'http://localhost:5000/API/6d3e2d986f8fc589babced246675da13',
                success: function (data) {
                    console.log("DATA: "+data);
                    if(data === '1'){
                        document.getElementById("btn_save").style.background = "#296d91";
                        $('#btn_save').attr('value',data);
                        document.getElementById("btn_save").innerText = 'Đã Lưu';
                    }else{
                        document.getElementById("btn_save").style.background = "#78dd28";
                        $('#btn_save').attr('value',data);
                        document.getElementById("btn_save").innerText = 'Lưu Phim';

                    }
                }
            })
        }else{
            alert('Bạn chưa đăng nhập')
        }
    }
    $(document).ready(function () {
        var IdUser = document.getElementById("IdUser").value;
        var IdMovie = document.getElementById("IdMovie").value;
        var data = {IdUser,IdMovie};
        // console.log('LOG: '+IdUser);
        $.ajax({
            type: 'POST',
            data: JSON.stringify(data),
            contentType: 'application/json',
            url: 'http://localhost:5000/API/90f751119bc098ffc8097de4ff8fd0ae',
            success: function (data) {
                // console.log("DATA SAVE OR NOT SAVE: "+data);
                if(data === '1'){
                    document.getElementById("btn_save").style.background = "#296d91";
                    $('#btn_save').attr('value',data);
                    document.getElementById("btn_save").innerText = 'Đã Lưu';
                }else{
                    document.getElementById("btn_save").style.background = "#78dd28";
                    $('#btn_save').attr('value',data);
                    document.getElementById("btn_save").innerText = 'Lưu Phim';

                }
            }
        });
    });
</script>
<div class="banner-top"></div>
<ol class="breadcrumb">
    <li>
        <a href="/">
            <span>HOME</span>
        </a>
    </li>
    {{#each episode.listEpisode}}
    <li>
        <a href="">
            <span>{{this.cat_name_title}}</span>
        </a>
    </li>
    {{/each}}
    <li class="active">
        <span>{{episode.episode_name}}</span>
    </li>
</ol>
<div class="row">
    <div class="col-md-8">
        <div class="movie_info">
            <input type="text" id="IdMovie" value="{{episode._id}}" hidden>
            <input type="text" id="IDEvent_movie" value="{{episode.episode_id}}" hidden>
            <input type="text" id="Name_move" value="{{episode.episode_name}}" hidden>
            <input type="text" id="Name_move_ascii" value="{{episode.episode_name_ascii}}" hidden>
            <div class="block_movie_info movie_info_box">
                <div class="block_wrapper page_single" itemscope itemtype="https://schema.org/Movie">
                    <div class="movie_info">
                        <div class="block_movie_info movie_info_box">
                            <div class="row">
                                <div class="col-6 movie_detail">
                                    <h1 class="movie_title">
                                        <span class="title" itemprop="name">{{episode.episode_name}}</span>
                                    </h1>
                                    <div class="movie_meta_info">
                                        <div class="movie_dl">
                                            <dt class="movie_dl">Trạng thái: </dt>
                                            <dd class="movie_dd imdb">{{episode.episode_film}}</dd>
                                            <br>
                                            <dt class="movie_dl">Thể loại: </dt>
                                            <dd class="movie_dd dd_cat">
                                                {{#each episode.listEpisode}}
                                                <a href="">{{this.cat_name_title}}</a>
                                                    <span>,</span>
                                                {{/each}}
                                            </dd>
                                            <br>
                                            <dt class="movie_dl">Season: </dt>
                                            <dd class="movie_dd dd_cat">
                                                <span>{{episode.episode_season}}</span>
                                            </dd>
                                            <br>
                                            <dt class="movie_dl">Năm: </dt>
                                            <dd class="movie_dd dd_cat">
                                                <span>{{episode.year_order.[0].year_name}}</span>
                                            </dd>
                                            <br>
                                            <dt class="movie_dl">Lượt xem: </dt>
                                            <dd class="movie_dd dd_cat">
                                                <span>{{episode.episode_view}}</span>
                                            </dd>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="box_rating">
                                        <p>Đánh giá phim<span class="num_rating"> (1 lượt)</span></p>
                                    </div>
                                </div>
                                <div class="col-6 movie_image">
                                    <div class="movie_l_img">
                                        <img class="img-responsive image_thumb" src="/images/image_avatar/{{episode.episode_image}}" alt="Bộ phim {{episode.episode_name}}">
                                        <ul class="btn_block">
                                            <li class="item" onclick="save_movie()">
                                                <button value="0" class="btn btn_green" id="btn_save">Lưu Phim</button>
                                            </li>
                                            <li class="item">
                                                <a href="/xem-phim/{{episode.episode_id}}-{{episode.episode_name_ascii}}" class="btn btn_red">Xem Phim</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <article class="block_movie_content">
                        <h2 class="movie_detail_h2">Nội dung phim</h2>
                        <div class="content" style="max-height: 800px;">
                            {{episode.episode_info}}
                            <br>
                            <br>
                            <div style="text-align: center">
                                <img class="img-responsive image_details" src="/images/image_avatar/{{episode.episode_back}}" alt="Bộ phim {{episode.episode_name}}">
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 sibar_left">
        {{> sibar_left}}
    </div>
</div>